In [1]:
import pandas as pd
import numpy as np

In [2]:
stringency_df = pd.read_csv('covid-stringency-index.csv')
complete_df = pd.read_csv('Merged_algo_tester_gvb.csv')

In [3]:
stringency_df['Day'] = pd.to_datetime(stringency_df['Day'])
complete_df['Date'] = pd.to_datetime(complete_df['Date'])
stringency_df = stringency_df[stringency_df['Entity']=='Netherlands']
stringency_df

            Entity Code        Day  stringency_index
85098  Netherlands  NLD 2020-01-21              0.00
85099  Netherlands  NLD 2020-01-22              0.00
85100  Netherlands  NLD 2020-01-23              0.00
85101  Netherlands  NLD 2020-01-24              0.00
85102  Netherlands  NLD 2020-01-25              0.00
...            ...  ...        ...               ...
85818  Netherlands  NLD 2022-01-10             65.74
85819  Netherlands  NLD 2022-01-11             65.74
85820  Netherlands  NLD 2022-01-12             65.74
85821  Netherlands  NLD 2022-01-13             65.74
85822  Netherlands  NLD 2022-01-14             65.74

[725 rows x 4 columns]

In [4]:
merged_df = complete_df.merge(stringency_df, how = 'left', left_on='Date', right_on='Day')

In [5]:
merged_df

,Datetime,Location,Visits,Date,Time,Journeys_normal,Windspeed,Temperature,Clouds,Rain amount,...,Holiday_Name_Liberation Day,Holiday_Name_May holiday,Holiday_Name_Spring holiday,Holiday_Name_Summer holiday,Holiday_Name_Whit,Holiday_Name_Winter holiday,Entity,Code,Day_y,stringency_index
0,2020-10-01 00:15:00,Erasmuspark,243.0,2020-10-01,00:15:00,85.861869,5.0,15.575,8.00,0.0,...,0,0,0,0,0,0,Netherlands,NLD,2020-10-01,62.04
1,2020-10-01 00:15:00,Oosterpark,53.0,2020-10-01,00:15:00,185.207097,5.0,15.575,8.00,0.0,...,0,0,0,0,0,0,Netherlands,NLD,2020-10-01,62.04
2,2020-10-01 00:15:00,Sarphatipark,96.0,2020-10-01,00:15:00,145.621873,5.0,15.575,8.00,0.0,...,0,0,0,0,0,0,Netherlands,NLD,2020-10-01,62.04
3,2020-10-01 00:15:00,Vondelpark West,54.0,2020-10-01,00:15:00,11.334497,5.0,15.575,8.00,0.0,...,0,0,0,0,0,0,Netherlands,NLD,2020-10-01,62.04
4,2020-10-01 00:15:00,Westergasfabriek,12.0,2020-10-01,00:15:00,11.040116,5.0,15.575,8.00,0.0,...,0,0,0,0,0,0,Netherlands,NLD,2020-10-01,62.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603667,2022-01-06 14:45:00,Westerpark Oost,131.0,2022-01-06,14:45:00,74.106210,5.0,5.400,3.25,0.0,...,0,0,0,0,0,1,Netherlands,NLD,2022-01-06,69.44
603668,2022-01-06 14:45:00,Westerpark West,91.0,2022-01-06,14:45:00,10.000000,5.0,5.400,3.25,0.0,...,0,0,0,0,0,1,Netherlands,NLD,2022-01-06,69.44
603669,2022-01-06 15:00:00,Flevopark,165.0,2022-01-06,15:00:00,18.870370,5.0,5.200,4.00,0.0,...,0,0,0,0,0,1,Netherlands,NLD,2022-01-06,69.44
603670,2022-01-06 15:00:00,Sarphatipark,776.0,2022-01-06,15:00:00,115.074419,5.0,5.200,4.00,0.0,...,0,0,0,0,0,1,Netherlands,NLD,2022-01-06,69.44
603671,2022-01-06 15:00:00,Vondelpark West,344.0,2022-01-06,15:00:00,11.041860,5.0,5.200,4.00,0.0,...,0,0,0,0,0,1,Netherlands,NLD,2022-01-06,69.44

In [ ]:
stringency_df